@charset "utf-8";

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  color: #333;
}

a {
  color: #333;
  text-decoration: none;
}

main {
  max-width: 1000px;
  width: 100%;
  padding: 20px;
  background-color: #eee;
  border-radius: 5px;
  font-size: 60px;
  font-weight: bold;
}